body{
    width:100%;
    height:100%;
}

h2{
    font-family: 'apercuregular';
   }

   .parallax{
       height: 1000px;
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size:cover;
       background-image: url("../img/cutecat.jpg");
   }

   button {
       position:absolute;
    background-color:#656565; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 400px;
    margin-left: 50%;
    margin-right: 50%;
    cursor: pointer;
    font-family: 'apercuregular';
  }
  