body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background: #181818;
}

.mText {
    position: relative;
    top: 50px;
    left: 50px;
    display: inline;
    margin-top: 100px;
    background-color: #656565;
    border: 1px solid #656565;
    background-color: #181818;
    border: 1px solid #656565;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'europaregular';
    letter-spacing: 2px;
}

p {
    font-family: 'europaregular';
}

h2 {
    font-family: 'apercuregular';
}

.active {
    color: #B3A577;
}

li {
    margin-right: 30px;
    display: inline;
}

ul {
    margin-top: 70px;
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding: 0;
}

a {
    font-family: 'europaregular';
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 26px;
}

@media(max-width:568px) {}