body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background: #181818;
}

.header {
    display: block;
    margin-top: 1000px;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.mText {
    width: 200px;
    /* margin-top: 100px; */
    background-color: #181818;
    border: 1px solid #656565;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'europaregular';
    letter-spacing: 2px;
}

p {
    font-family: 'europaregular';
    line-height: 50px;
}

.hText {
    color: #cc0e74;
}

h2 {
    font-family: 'europaregular';
}

.active {
    color: #cc0e74;
}

li {
    display: inline;
}

ul {
    float: right;
    list-style-type: none;
    padding: 0;
}

a {
    font-family: 'europaregular';
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 26px;
}

.intro {
    margin: 200px 100px;
    font-size: 3vw;
    line-height: normal;
    padding-bottom: 200px;
}

@media(max-width:568px) {}