body,
html {
    font-family: 'europaregular';
    background-color: #181818;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
}

.mText {
    text-align: center;
    display: inline-block;
    width: 200px;
    background-color: #181818;
    border: 1px solid #656565;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'europaregular';
    letter-spacing: 3px;
}

.active {
    color: #cc0e74;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 26px;
}